#  **SHETH L.U.J. & SIR M.V. COLLEGE**

# Swati Mahajan T093

# Practical No . 03

Data Wrangling

Data Frames and Basic Data Pre-processing

*   Read data from CSV and JSON files into a data frame.

*   Perform basic data pre-processing tasks such as handling missing values and
outliers.

* Manipulate and transform data using functions like filtering, sorting, and
grouping.

# Load Dataset

In [3]:
import pandas as pd
import numpy as np

# --- 1. SETUP: LOAD YOUR DATA ---
FILE_NAME = 'kc_house_data.csv'

df = pd.read_csv(FILE_NAME)

# 2.1 Creating a Data Frame

In [4]:
print("\n--- Creating and Inspecting a DataFrame ---")
print("First 2 Rows (df.head(2)):")
print(df.head(2))
print("\nDimensions (df.shape): {}".format(df.shape))
print("\nDescriptive Statistics (df.describe()):")
print(df.describe())

--- Creating and Inspecting a DataFrame ---
First 2 Rows (df.head(2)):
           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690

   sqft_lot15
0        5650
1        7639

[2 rows x 21 columns]

Dimensions (df.shape): (21613, 21)

Descriptive Statistics (df.describe()):
                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757   2079.899736
std    2.876566e+09  3.671272e+05      0.930062      0.770163    918.440897
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000   1427.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.510697e+04      1.494309      0.007542      0.234303      3.409430
std    4.142051e+04      0.539989      0.086517      0.766318      0.650743
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.618000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.068800e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above  sqft_basement      yr_built  yr_renovated  \
count  21613.000000  21613.000000   21613.000000  21613.000000  21613.000000
mean       7.656873   1788.390691     291.509045   1971.005136     84.402258
std        1.175459    828.090978     442.575043     29.373411    401.679240
min        1.000000    290.000000       0.000000   1900.000000      0.000000
25%        7.000000   1190.000000       0.000000   1951.000000      0.000000
50%        7.000000   1560.000000       0.000000   1975.000000      0.000000
75%        8.000000   2210.000000     560.000000   1997.000000      0.000000
max       13.000000   9410.000000    4820.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std       53.505026      0.138564      0.140828     685.391304   27304.179631
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

# 2.2 Navigating DataFrame

In [26]:
print("\n--- 2.2 Navigating DataFrame (iloc) ---")
# Select the first row (index 0)
print("\nFirst Row (df.iloc[0]):")
print(df.iloc[0])
# Select rows 1 up to (but not including) 4
print("\nRows 1 to 3 (df.iloc[1:4]):")
print(df.iloc[1:4])

--- 2.2 Navigating DataFrame (iloc) ---

First Row (df.iloc[0]):
id                    7129300520
date             20141013T000000
price                   221900.0
bedrooms                       3
bathrooms                    1.0
sqft_living                 1180
sqft_lot                    5650
floors                       1.0
waterfront                     0
view                           0
condition                      3
grade                          7
sqft_above                  1180
sqft_basement                  0
yr_built                    1955
yr_renovated                   0
zipcode                    98178
lat                      47.5112
long                    -122.257
sqft_living15               1340
sqft_lot15                  5650
Name: 0, dtype: object

Rows 1 to 3 (df.iloc[1:4]):
           id             date     price  bedrooms  bathrooms  sqft_living  \
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360

   sqft_lot15
1        7639
2        8062
3        5000

[3 rows x 21 columns]

# 2.4 Selecting Rows Based on Conditionals

In [25]:
print("\n--- 2.4 Selecting Rows Based on Conditionals ---")
# Find houses with more than 4 bedrooms AND a grade higher than 10
CONDITION_1 = (df['bedrooms'] > 4)
CONDITION_2 = (df['grade'] > 10)

filtered_df = df[CONDITION_1 & CONDITION_2]

print("Houses with >4 Bedrooms AND Grade > 10 (First 2 Rows):")
print(filtered_df.head(2))

--- 2.4 Selecting Rows Based on Conditionals ---
Houses with >4 Bedrooms AND Grade > 10 (First 2 Rows):
             id             date      price  bedrooms  bathrooms  sqft_living  \
70   1525059190  20140912T000000  1040000.0         5       3.25         4770
384   713500030  20140728T000000  1350000.0         5       3.50         4800

     sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
70      50094     1.0           0     0  ...     11        3070
384     14984     2.0           0     2  ...     11        3480

     sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
70            1700      1973             0    98005  47.6525 -122.160
384           1320      1998             0    98006  47.5543 -122.148

     sqft_living15  sqft_lot15
70            3530       38917
384           4050       19009

[2 rows x 21 columns]

# 2.5 Replacing Values

In [16]:
print("\n--- 2.5 Replacing Values ---")
# Replace 'view' value 0 with 'NoView' and 1 with 'HasView' (Single replacement)
view_series = df['view'].replace(0, 'NoView').head(5)
print("Single Replacement (View 0 -> NoView):")
print(view_series)

# Replace multiple values at once (Multiple replacement)
condition_series = df['condition'].replace([3, 5], ['Average', 'Excellent']).head(5)
print("\nMultiple Replacement (Condition 3->Average, 5->Excellent):")
print(condition_series)

--- 2.5 Replacing Values ---
Single Replacement (View 0 -> NoView):
0    NoView
1    NoView
2    NoView
3    NoView
4    NoView
Name: view, dtype: object

Multiple Replacement (Condition 3->Average, 5->Excellent):
0      Average
1      Average
2      Average
3    Excellent
4      Average
Name: condition, dtype: object

# 2.6 Renaming Columns

In [17]:
print("\n--- 2.6 Renaming Columns ---")
# Rename 'sqft_living' to 'Living_Area'
df_renamed = df.rename(columns={'sqft_living': 'Living_Area'}).head(2)
print("Renamed 'sqft_living' to 'Living_Area':")
print(df_renamed)

--- 2.6 Renaming Columns ---
Renamed 'sqft_living' to 'Living_Area':
           id             date     price  bedrooms  bathrooms  Living_Area  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690

   sqft_lot15
0        5650
1        7639

[2 rows x 21 columns]

# 2.7 Finding Min, Max, Sum, Average (Mean), Count

In [18]:
print("\n--- 2.7 Finding Descriptive Statistics ---")
FEATURE = 'price'
print(f"Statistics for '{FEATURE}':")
print("Maximum: {:.2f}".format(df[FEATURE].max()))
print("Minimum: {:.2f}".format(df[FEATURE].min()))
print("Mean: {:.2f}".format(df[FEATURE].mean()))
print("Standard Deviation: {:.2f}".format(df[FEATURE].std()))
print("Count: {}".format(df[FEATURE].count()))

--- 2.7 Finding Descriptive Statistics ---
Statistics for 'price':
Maximum: 7700000.00
Minimum: 75000.00
Mean: 540088.14
Standard Deviation: 367127.20
Count: 21613

# 2.8 Finding Unique Values

In [19]:
print("\n--- 2.8 Finding Unique Values ---")
FEATURE = 'bedrooms'
print(f"Unique values in '{FEATURE}':")
print(df[FEATURE].unique())
print(f"\nValue Counts for '{FEATURE}':")
print(df[FEATURE].value_counts().head(5))

--- 2.8 Finding Unique Values ---
Unique values in 'bedrooms':
[ 3  2  4  5  1  6  7  0  8  9 11 10 33]

Value Counts for 'bedrooms':
bedrooms
3    9824
4    6882
2    2760
5    1601
6     272
Name: count, dtype: int64

# 2.9 Handling Missing Values (isnull) & 3.10 Deleting a Column

In [20]:
print("\n--- 2.9 Handling Missing Values (isnull) ---")
# The King County data is usually very clean, so we check for missing 'price'
print("Check for Missing 'price' values (First 5 Rows):")
print(df['price'].isnull().head(5))

print("\n--- 3.10 Deleting a Column (drop) ---")
# Drop the 'view' column (axis=1 for column)
df_dropped = df.drop('view', axis=1)
print("DataFrame after dropping 'view' column (First 2 Rows):")
print(df_dropped.head(2))

--- 2.9 Handling Missing Values (isnull) ---
Check for Missing 'price' values (First 5 Rows):
0    False
1    False
2    False
3    False
4    False
Name: price, dtype: bool

--- 3.10 Deleting a Column (drop) ---
DataFrame after dropping 'view' column (First 2 Rows):
           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570

   sqft_lot  floors  waterfront  condition  grade  sqft_above  sqft_basement  \
0      5650     1.0           0          3      7        1180              0
1      7242     2.0           0          3      7        2170            400

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690

   sqft_lot15
0        5650
1        7639

# 2.11 Deleting a Row

In [21]:
print("\n--- 2.11 Deleting a Row (by index) ---")
# Delete the row at index 0 (the first row)
df_row_deleted = df.drop(0, axis=0)
print("DataFrame after dropping the first row (head shows the new first row):")
print(df_row_deleted.head(2))

--- 2.11 Deleting a Row (by index) ---
DataFrame after dropping the first row (head shows the new first row):
           id             date     price  bedrooms  bathrooms  sqft_living  \
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720

   sqft_lot15
1        7639
2        8062

[2 rows x 21 columns]

# 2.16 Applying a Function Over All Elements in a Column

In [22]:
print("\n--- 2.16 Applying a Function (apply) ---")
# Define a simple function to categorize a house based on its living area
def categorize_area(sqft):
    if sqft < 1500: return 'Small'
    if sqft < 3000: return 'Medium'
    return 'Large'

area_category_series = df['sqft_living'].apply(categorize_area).head(5)
print("New Column from applying function to 'sqft_living' (First 5 Rows):")
print(area_category_series)

--- 2.16 Applying a Function (apply) ---
New Column from applying function to 'sqft_living' (First 5 Rows):
0     Small
1    Medium
2     Small
3    Medium
4    Medium
Name: sqft_living, dtype: object

# 2.17 Applying a Function to Groups (groupby)

In [23]:
print("\n--- 2.17 Applying a Function to Groups (groupby) ---")
# Group by 'bedrooms' and calculate the mean 'price' for each group
mean_price_by_bedroom = df.groupby('bedrooms')['price'].mean().head(5)
print("Mean Price grouped by Number of Bedrooms:")
print(mean_price_by_bedroom)

--- 2.17 Applying a Function to Groups (groupby) ---
Mean Price grouped by Number of Bedrooms:
bedrooms
0    409503.846154
1    317642.884422
2    401372.681884
3    466232.078481
4    635419.504214
Name: price, dtype: float64

# 2.18 Concatenating DataFrames

In [24]:
print("\n--- 2.18 Concatenating DataFrames (concat) ---")
# 1. Select all numerical columns
numerical_df = df.select_dtypes(include=[np.number])
# 2. Create a dummy categorical DataFrame (using the categorized area from 3.16)
categorical_df = pd.DataFrame(area_category_series)
categorical_df.columns = ['Area_Category']

# 3. Concatenate (join) them horizontally (axis=1)
# Note: Concatenation requires the two DataFrames to have the same indexes.
combined_df = pd.concat([numerical_df, categorical_df], axis=1)

print("Concatenated DataFrame (First 5 Rows - showing new 'Area_Category' column):")
print(combined_df.head(5))

--- 2.18 Concatenating DataFrames (concat) ---
Concatenated DataFrame (First 5 Rows - showing new 'Area_Category' column):
           id     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  7129300520  221900.0         3       1.00         1180      5650     1.0
1  6414100192  538000.0         3       2.25         2570      7242     2.0
2  5631500400  180000.0         2       1.00          770     10000     1.0
3  2487200875  604000.0         4       3.00         1960      5000     1.0
4  1954400510  510000.0         3       2.00         1680      8080     1.0

   waterfront  view  condition  ...  sqft_above  sqft_basement  yr_built  \
0           0     0          3  ...        1180              0      1955
1           0     0          3  ...        2170            400      1951
2           0     0          3  ...         770              0      1933
3           0     0          5  ...        1050            910      1965
4           0     0          3  ...        1680              0      1987

   yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15  \
0             0    98178  47.5112 -122.257           1340        5650
1          1991    98125  47.7210 -122.319           1690        7639
2             0    98028  47.7379 -122.233           2720        8062
3             0    98136  47.5208 -122.393           1360        5000
4             0    98074  47.6168 -122.045           1800        7503

   Area_Category
0          Small
1         Medium
2          Small
3         Medium
4         Medium

[5 rows x 21 columns]